* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 70px 1fr 50px;
    grid-template-columns: 200px 1fr;

    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

header {
    grid-area: header;
    background-color: rgb(78, 79, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    color: beige;
    font-size: 2rem;
    font-weight: bold;
}

aside {
    grid-area: aside;
    background-color: rgb(48, 49, 51);
    display: flex;
    justify-content: center;
    padding: 20px 10px 0 0;
}

ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
li {
    list-style: none;
    color: beige;
}
main {
    grid-area: main;
    background-color: rgb(215, 250, 215);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img {
    width: 100%;
    height: 80%;
    background-image: url(../img/depositphotos_54509503-stock-photo-crystal-clear-mountain-lake-and.jpg);
    background-size: cover;   
}


footer {
    grid-area: footer;
    background-color: rgb(78, 79, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: beige;
    font-size: 1.5rem;
    font-weight: bold;
}